$text-color:                 #212121
$label-default-color:        #212121

// Input
$input-default-border-color: #bdbdbd
$input-focus-border-color:   #757575

// Radio
$radio-default-color: #9e9e9e
$radio-checked-color: #00c853

// Check
$checkbox-default-color: #9e9e9e
$checkbox-checked-color: #00c853

// Switch
$switch-track-default: #9e9e9e
$switch-track-checked: #00c853
