// Colors

$light-color:                #fff
$text-color:                 #212121
$label-default-color:        #212121
$label-placeholder-color:    #bdbdbd
$default-color:              #9e9e9e
$checked-color:              #00c853
$input-default-border-color: #bdbdbd
$input-focus-border-color:   #757575
$error-color:                #d50000
$hint-color:                 #616161

$border-radius: 3px
$default-animation: cubic-bezier(.4,0,.2,1)

// Buttons
$disabled-button: #fafafa
$disabled-button-color: #e0e0e0
$default-button: #e0e0e0
$default-button-darken: #d8d8d8

// Buttons types
$buttons-types-bg: (default: $default-button)
$buttons-types-darken: (default: $default-button-darken)

// Loaders
$loader-large:  48px
$loader-medium: 38px
$loader-small:  28px

$loader-circle:  #ccc
$loader-spinner: #e5241c

$loader-width: 2px

// Media query breakpoints

// Mobile
$mobile: 425px
$mobile-min: $mobile

// Tablet
$tablet: 768px
$tablet-min: $tablet

// Laptops and small screens
$laptop:  1024px
$laptop-min: $laptop

// Desktops and large screens
$desktop: 1440px
$desktop-min: $desktop

$tablet-max: $laptop  - 1
$laptop-max: $desktop - 1
$mobile-max: $tablet  - 1
