.ztt-form-group
  margin-top: 5px
  padding-top: 15px
  margin-bottom: 15px
  position: relative

  &:after
    content: ""
    left: 50%
    right: 0
    bottom: 0
    width: 0
    height: 2px
    display: block
    position: absolute
    transition: .2s width ease-in
    transform: translateX(-50%)

.ztt-form-group--focus
  &:after
    width: 100%
    background: $input-focus-border-color

.ztt-form-group__label
  left: 0
  top: 20px
  font-size: 14px
  font-weight: 500
  color: $label-default-color
  position: absolute
  transition: .2s all $default-animation

.ztt-form-group__label--focus
  top: 0
  font-size: 12px

.ztt-form-group__input,
.ztt-form-group__textarea
  width: 100%
  padding: 5px
  border: 0
  border-bottom: 1px solid $input-default-border-color

  &:focus
    outline: none

.ztt-form-group__textarea
  display: block
