<!doctype HTML>
<html lang="pt-br" data-ng-app="showcase">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ztt Design Lite</title>

    <link rel="stylesheet" href="dist/main.css">
  </head>
  <body ng-controller="showcaseCtrl as vm">
    <!-- .form-group ng-repeat="user in vm.users" ztt-form-group="" -->
    <div class="ztt-form-group" ng-repeat="user in vm.users">
      <label class="ztt-form-group__label" for="input{{$index}}">Nome</label>
      <input class="ztt-form-group__input" id="input{{$index}}" type="text" ng-model="user.name" ztt-input=""/>
    </div>

    <div class="ztt-form-group">
      <label class="ztt-form-group__label" for="textarea">Descrição</label>
      <textarea class="ztt-form-group__textarea" id="textarea" rows="5" ng-model="vm.description" ztt-input=""></textarea>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="dist/main.js"></script>
    <script>
      (function () {
        angular.module("showcase", ["zttDesignLite"]);
      })();

      (function () {
        angular
          .module("showcase")
          .controller("showcaseCtrl", showcaseCtrl);

        function showcaseCtrl () {
          var vm = this;

          vm.users = [
            { "name": "Lucas" },
            { "name": "Éder" },
            { "name": "Jésus" },
            { "name": "Yuri" }
          ]
        }
      })();
    </script>
  </body>
</html>
