<!doctype HTML>
<html lang="pt-br" data-ng-app="showcase">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ztt Design Lite</title>

    <script src="https://use.fontawesome.com/9612f56652.js"></script>
    <link rel="stylesheet" href="dist/zttdesignlite.css" title="Ztt Design Lite Stylesheet">
    <style>
      /* Style used on examples page */
      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: #f1f1f1;
      }

      .container {
        max-width: 900px;
        margin: 30px auto;
      }
    </style>
  </head>
  <body ng-controller="showcaseCtrl as vm">
    <div class="container">
      <!-- Input showcase -->
      <div class="ztt-card">
        <div class="ztt-card__header">
          <div class="ztt-card__header-content">
            <h1 class="ztt-card__title">
              <i class="fa fa-star ztt-card__icon"></i>
              Componentes de formulário</h1>
            <h2 class="ztt-card__subtitle">Campos de texto, radio, check e switch</h1>
          </div>

          <div class="ztt-card__options">
            <a class="ztt-card__option" href="#">Ver no github</a>
            <a class="ztt-card__option" href="#">Ver detalhes</a>
          </div>
        </div>
        <div class="ztt-card__content">
          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper ztt-form-group__wrapper">
              <div>
                <div>
                  <input class="ztt-form-group__input" id="lala" type="text" ng-model="vm.name" ztt-input=""/>
                  <label class="ztt-form-group__label ztt-form-group__label--floating" for="lala">Nome</label>
                </div>
              </div>
            </div>
          </div>

          <button ng-click="vm.name = ''">Limpar campo</button>

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <input class="ztt-form-group__input" id="input33" type="text" ztt-input=""/>
              <label class="ztt-form-group__label ztt-form-group__label--floating" for="input33">Nome</label>
            </div>
            <span class="ztt-form-group__hint">Mínimo 12 caracteres</span>
            <span class="ztt-form-group__error">Campo obrigatório</span>
          </div>

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <input class="ztt-form-group__input" id="age1" type="text" ng-model="vm.age" ztt-input="placeholder"/>
              <label class="ztt-form-group__label ztt-form-group__label--placeholder" for="age1">Idade</label>
            </div>
            <span class="ztt-form-group__hint">Mínimo 18 anos</span>
          </div>

          <div class="ztt-icon-group">
            <div class="ztt-icon-group__icon-wrapper">
              <i class="ztt-icon-group__icon fa fa-cog"></i>
            </div>
            <div class="ztt-form-group ztt-icon-group__form-group">
              <div class="ztt-form-group__wrapper">
                <input class="ztt-form-group__input" id="age" type="text" ng-model="vm.age" ztt-input="placeholder"/>
                <label class="ztt-form-group__label ztt-form-group__label--placeholder" for="age">Idade</label>
              </div>
            </div>
          </div>

          <div class="ztt-icon-group">
            <div class="ztt-icon-group__icon-wrapper">
              <i class="ztt-icon-group__icon fa fa-cog"></i>
            </div>
            <div class="ztt-form-group ztt-icon-group__form-group">
              <div class="ztt-form-group__wrapper">
                <label class="ztt-form-group__label ztt-form-group__label--floating" for="input{{$index}}">Idade</label>
                <input class="ztt-form-group__input" id="input{{$index}}" type="text" ng-model="vm.age" ztt-input=""/>
              </div>
            </div>
          </div>

          <!-- Radio showcase -->

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <label class="ztt-radio" for="radio">
                <input class="ztt-radio__input" type="radio" id="radio" value="1" name="radios" ng-model="vm.checked" ztt-selectable="radio"/>
                <div class="ztt-radio__icon-wrapper">
                  <i class="ztt-radio__icon"></i>
                </div>
                <span class="ztt-radio__text" data-checked="Selecionou" data-unchecked="Ainda não selecionou"></span>
              </label>
            </div>
          </div>

          <!-- Checkbox showcase -->

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <label class="ztt-checkbox" for="check">
                <input id="check" class="ztt-checkbox__input" type="checkbox" name="checks" ng-true-value="'on'" ng-false-value="'off'" ng-model="vm.status" ng-checked="vm.changed(vm.status)" ztt-selectable="checkbox" />
                <div class="ztt-checkbox__icon-wrapper">
                  <i class="ztt-checkbox__icon fa fa-check"></i>
                </div>
                <span class="ztt-checkbox__text" data-checked="On" data-unchecked="Off"></span>
              </label>
            </div>
          </div>

          <p>
            {{ vm.status }}
          </p>

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <label class="ztt-checkbox" for="check1">
                <input id="check1" class="ztt-checkbox__input" type="checkbox" name="checks" ztt-selectable="checkbox" />
                <div class="ztt-checkbox__icon-wrapper">
                  <i class="ztt-checkbox__icon fa fa-check"></i>
                </div>
                <span class="ztt-checkbox__text">Receber notificações</span>
              </label>
            </div>
          </div>

          <!-- Switch showcase -->

          <div class="ztt-form-group">
            <div class="ztt-form-group__wrapper">
              <label class="ztt-switch" for="switch">
                <input class="ztt-switch__input" id="switch" type="checkbox" ztt-selectable="switch" />
                <div class="ztt-switch__icon-wrapper">
                  <div class="ztt-switch__icon"></div>
                </div>
              </label>
            </div>
          </div>
        </div>
        <div class="ztt-card__footer ztt-card__footer--center">
          <a href="#">Ver no github</a>
        </div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="dist/zttdesignlite.js"></script>
    <script>
      (function () {
        angular.module("showcase", ["zttDesignLite"]);
      })();

      (function () {
        angular
          .module("showcase")
          .controller("showcaseCtrl", showcaseCtrl);

        function showcaseCtrl () {
          var vm = this;

          vm.status = "off";
        }
      })();
    </script>
  </body>
</html>
